.contact__container {
  /* width: 30%; */
  display: grid;
  grid-template-columns: 35% 58%;
  gap: 7%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 1rem;
  display: inline-block;
  font-size: 0.9rem;
}

/* Form style  */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1rem;
}
input,
textarea {
  width: 100%;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  border-radius: 4px;
  color: var(--color-white);
  font-family: "Courier New", Courier, monospace;
}

/* Responsive in smaller devices */

/* Checking devices
 - tablet: iPad air
 - Smartphones: iphone XR */
/*  ** Media Queries - Tablets (Medium devices) */
@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
  }
  .contact__options {
    width: 60%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  form {
    width: 60%;
    justify-items: center;
    align-items: center;
  }
  .final {
    width: 200px;
  }
}

/*  ** Media Queries - cellphones ( devices) */
@media screen and (max-width: 600px) {
  .contact__container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
  }
  .contact__options {
    width: 80%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  form {
    width: 80%;
    justify-items: center;
    align-items: center;
  }
}
